.feature-cards-wrapper {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature-card {
  position: relative;
  width: min(340px, 80vw);
  min-height: 260px;
  aspect-ratio: 1.35;
  background-color: white;
  border-radius: var(--br-square);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.feature-img-wrapper {
  position: absolute;
  background-color: var(--clr-prim-dark-violet);
  padding: 1.5rem;
  border-radius: 50%;
  top: 0;
  transform: translateY(-50%);
}

.feature-info {
  font-size: 0.85rem;
  text-align: center;
  color: var(--clr-neut-gray-violet);
  padding-inline: 2rem;
}

.card-line {
  background-color: var(--clr-prim-cyan);
  width: 10px;
  height: 6rem;
}

@media only screen and (width >= 900px) {
  .feature-cards-wrapper {
    flex-direction: row;
    padding-bottom: 5rem;
  }
  .card-line {
    width: min(3vw, 3rem);
    height: 10px;
  }
  .feature-img-wrapper {
    left: 2rem;
  }
  .feature-card {
    width: clamp(200px, 30vw, 330px);
    aspect-ratio: 1.35;
  }
  .feature-card:nth-child(3) {
    transform: translateY(10%);
  }
  .feature-card:nth-child(5) {
    transform: translateY(20%);
  }
}
