.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(266, 10%, 14%);
  color: white;
}

.footer-logo {
  margin-top: 2rem;
}

.footer h4 {
  margin: 3rem 0 1.5rem;
}

.footer-links {
  display: flex;
  gap: 0.75rem;
  flex-direction: column;
  font-size: 0.8rem;
  color: var(--clr-neut-gray);
  text-align: center;
}

.social-media-links {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  margin: 3rem 0;
}

@media only screen and (width >= 600px) {
  .footer {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    padding-block: 3rem 4rem;
  }
  .social-media-links {
    flex-direction: column;
  }
  .footer-logo,
  .social-media-links {
    margin: 0;
  }
  .footer h4,
  .footer-links {
    text-align: left;
  }
  .footer h4 {
    margin-top: 0;
  }
}

@media only screen and (width >= 800px) {
  .footer {
    padding-inline: 10vw;
    justify-content: space-between;
  }
  .social-media-links {
    flex-direction: row;
  }
}

@media only screen and (width >= 1040px) {
  .footer-logo {
    margin-right: 20%;
  }
}
