@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

:root {
  /* COLORS */
  --clr-prim-cyan: hsl(180, 66%, 49%);
  --clr-prim-dark-violet: hsl(257, 27%, 26%);
  --clr-sec-red: hsl(0, 87%, 67%);
  --clr-neut-gray: hsl(0, 0%, 75%);
  --clr-neut-gray-violet: hsl(257, 7%, 63%);
  --clr-neut-dark-violet: hsl(260, 8%, 14%);
  --clr-neut-dark-blue: hsl(255, 11%, 22%);

  /* TYPOGRAPHY */
  --font-size: 18px;
  --font-family: 'Poppins', 'Robot', 'Inter', sans-serif;
  --font-w-regular: 500;
  --font-w-bold: 700;

  /* BREAK-POINTS */
  --bp-mobile: 375px;
  --bp-desktop: 1440px;

  /* BORDER-RADIUS */
  --br-round: 2rem;
  --br-square: 5px;
  --br-round-square: 10px;
}

body {
  color: var(--clr-prim-dark-violet);
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-w-regular);
}

input {
  border: 0;

  &:focus {
    outline: 0;
  }
}

button {
  border: 0;
  cursor: pointer;
}
.button {
  color: white;
  font-weight: bold;
  transition: opacity 150ms ease-in;

  &:hover,
  &:active {
    opacity: 0.5;
  }
}
.btn-primary {
  background-color: var(--clr-prim-cyan);
  font-weight: bold;
}
.btn-secondary {
  background-color: var(--clr-prim-dark-violet);
}
.btn-round {
  border-radius: var(--br-round);
  padding: 0.75rem 2rem;
}
.btn-square {
  border-radius: var(--br-square);
  padding: 0.5rem 4rem;
}

h2 {
  font-size: 1.4rem;
}
h3 {
  font-size: 1.2rem;
}
h4 {
  font-size: 1rem;
}

h2,
h3,
h4 {
  font-weight: bold;
  text-align: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}
