.links {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 50;
  transform: translateY(calc(-9.25rem / 2)); /* Height of link input*/
  gap: 1.5rem;
}

.link-input-wrapper {
  position: relative;
  z-index: 50;
  /* transform: translateY(-50%); */
  background-color: var(--clr-prim-dark-violet);
  width: min(80vw, 340px);
  border-radius: var(--br-round-square);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 1rem;
  padding: 1.5rem 1rem;
}

.link-input-wrapper > * {
  z-index: 10;
}

.link-input-wrapper button {
  padding-inline: 0;
}

#link-input {
  border-radius: var(--br-square);
  color: var(--clr-neut-dark-violet);
  font-size: 1rem;
  padding: 0.5rem;

  &::placeholder {
    color: var(--clr-neut-gray-violet);
  }
}

.bg-link-input {
  position: absolute;
  top: 0;
  right: 0;
}
